name: Valid JSON

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Select Xcode 11.4
      run: sudo xcode-select -s /Applications/Xcode_11.4.app && xcodebuild -version
    - name: Validate JSON (New)
      run: swift .validate.swift
    - name: Validate JSON
      run: swift validate.swift diff
